.auction {
    &-header {
        &__input {
            position: relative;
            max-width: 346px;
            width: 100%;

            input {
                width: 100%;
                height: 51px;
                padding: 12px 58px 12px 21px;
                background: rgba(255, 255, 255, 0.1);
                border: none;
                border-radius: 8px;
                font-size: 16px;
                color: #fff;

                &:focus {
                    outline: none;
                }
            }

            &-icon {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 50px;
                background: transparent;
                border: none;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    &-list {
        margin: 72px 0 98px;

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: -18px;

            @media #{$smWidth} {
                display: block;
                margin: 0;
            }
        }

        &__item {
            background-color: #fff;
            box-shadow: 0px 4px 34px rgba(31, 31, 31, 0.13);
            border-radius: 12px;
            width: 336px;
            margin: 18px;
            padding: 36px;
            text-align: center;

            .item {
                &__img {
                    position: relative;
                    margin: 0 auto 24px;
                    display: block;
                    color: #c4c4c4;
                    width: 264px;
                    height: 170px;
                    background-color: #c4c4c4;

                    @media #{$smWidth} {
                        margin-bottom: 36px;
                    }

                    &::after {
                        position: absolute;
                        top: -24px;
                        left: -24px;
                        right: -24px;
                        bottom: -24px;
                        content: '';
                        background-image: url("data:image/svg+xml,%3Csvg width='312' height='218' viewBox='0 0 312 218' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M277 24H24v170h265V24h-12zm0 12H36v146h241V36z' fill='%23fff'/%3E%3C/g%3E%3Cpath fill='%230F0F0F' d='M24 24h4v170h-4zM285 24h4v170h-4z'/%3E%3Cpath fill='%230F0F0F' d='M26 24h263v4H26zM26 190h263v4H26z'/%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='18' y='18' width='285' height='190' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dx='4' dy='4'/%3E%3CfeGaussianBlur stdDeviation='5'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
                    }
                }

                &__title {
                    margin-bottom: 4px;
                    color: #0f0f0f;
                }

                &__author {
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.5);
                }

                &__type {
                    margin: 24px 0;
                    padding: 6px 8px;
                    min-width: 90px;
                    height: 28px;
                    text-transform: uppercase;
                    border: none;
                    border-radius: 6px;
                    color: #fff;
                    font-size: 16px;
                    cursor: pointer;

                    &:focus {
                        outline: none;
                    }

                    &--live {
                        background: #86ba6e;
                    }

                    &--closed {
                        background: #bdbdbd;
                    }

                    &--filled {
                        background: #fd7749;
                    }
                }

                &__workshop {
                    color: #0f0f0f;
                    font-weight: 600;
                    font-size: 16px;
                    margin-bottom: 16px;
                }

                &__token {
                    color: rgba(15, 15, 15, 0.5);
                    font-size: 14px;

                    &-title {
                        margin-bottom: 5px;
                    }

                    &-address {
                        word-break: break-all;
                        color: inherit;
                        text-decoration: underline;

                        &:hover {
                            color: #0f0f0f;
                        }
                    }
                }
            }

            @media #{$smWidth} {
                max-width: 100%;
                padding: 20px;
                margin: 18px auto;
            }

            @media #{$xsWidth} {
                padding: 16px;
            }
        }
    }

    &-details {
        &__title {
            display: flex;
            align-items: center;

            @media (max-width: 420px) {
                display: block;
            }
        }

        &__type {
            text-align: center;
            margin: 0 0 0 12px;
            padding: 3px 8px;
            min-width: 90px;
            height: 28px;
            text-transform: uppercase;
            border: none;
            border-radius: 6px;
            color: #fff;
            font-size: 16px;

            &--live {
                background: #86ba6e;
            }

            &--closed {
                background: #bdbdbd;
            }

            &--filled {
                background: #fd7749;
            }

            @media (max-width: 420px) {
                width: 90px;
                margin-left: 0;
                margin-top: 6px;
            }
        }

        &__image {
            margin: 24px 0;

            &-wrapper {
                display: flex;
                align-items: center;

                @media (max-width: 475px) {
                    display: block;
                }
            }
        }

        &__price {
            margin-left: 20px;

            @media (max-width: 475px) {
                margin-left: 0px;
                margin-bottom: 12px;
            }

            &>div {
                &:first-child {
                    margin-bottom: 12px;
                }
            }

            p {
                font-size: 13px;
                opacity: 0.4;
            }
        }

        &__table {
            th {
                width: 90px;
            }

            .table__token {
                word-break: break-word;

                a {
                    color: #0f0f0f;
                    text-decoration: underline;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        &__bid {
            width: 100%;

            td {
                text-align: right;
            }
        }
    }
}